*{
    margin: 0;
    padding: 0;
    font-family: Fellix,"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
body{
    color: #03357C;
}

/* =============================================header========================================== */
header{
    background-color: #FFCC00;
    height: 105px;
}
header h1{
    display: flex;
    align-content: center;
    font-size: 17mm;
}
header img{
    height: 80px ;
    width: 157px;
    padding: 10px 0 0 10px;
    display: flex;
    align-content: center;
}
/* =============================================nav============================================== */
nav a{
    text-decoration: none;
    font-weight: bold;
    font-size: 5mm;
    display: flex;
    justify-content: center;
    color: #FFCC00;
    background-color: #03357C;
    padding: 25px;
    width: 300px;
}
nav a:hover{
    background-color: #FFCC00;
    color: #03357C;
}
.nav{
    display: flex;
    justify-content: space-around;
    margin: 25px;
}

/* =============================================body============================================= */
main{
    width: 80%;
    margin: 0 auto;
}
img{
    object-fit: cover;
    height: 400px;
    width: 100%;
}
.rooster img{
    height: 800px;
}
h1, h2,h3, p{
    margin: 10px;
}
h2{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.locaties{
    display: flex;
    justify-content: space-around;
}
.locaties p{
    font-weight: bold;
}
.blokkenimg img{
    height: 650px;
}
/* ===========================================footer=========================================== */
footer{
    background-color: #FFCC00;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
